@import "./typography";
@import "./colors";
@import "./layout";
@import "./breakpoints";


body {
	font-family: $font__family--default;
}

h1 {
	font-size: $font__size--headings;
}

h2 {
	font-size: $font__size--subheadings;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

h3 {
	font-size: $font__size--large;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
