@import "./breakpoints";

.flex__container {
	display: flex;
}

.flex__centerContent {
	align-content: center;
	align-items: center;
	justify-content: center;
}

.flex__direction--column {
	flex-direction: column;
}

.flex__list {
	flex-direction: column;
}

$spacing__inner: 1em;

@media (min-width: $breakpoint__small) {
	.flex__list {
		flex-direction: row;
	}
}
